<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
        <link rel="stylesheet" href="./static/css/style.css">
        <link rel="stylesheet" href="./static/css/responsivo.css">
        {% block linkCss %}{% endblock %}
        <title> {{ title }}</title>
    </head>
    <body>
        <div class="content">
            <nav class="navMobile">
                <div>
                    <a class="linkNav" {{nav[0]}}>{{nav[1]}}</a>
                </div>
                <div>
                    <a class="linkNav" {{nav[2]}}>{{nav[3]}}</a>
                </div>
                <div>
                    <a class="linkNav" {{nav[4]}}>{{nav[5]}}</a>
                </div>
            </nav>
            <!-- Esquerda -->
            <div class="left">
                <div class="contentLeft">
                    <!-- Foto de Perfil -->
                    <div class="contentImgPerfil"> <img class="imgPerfil" srcset="./static/img/perfil/perfil_300.png 550w, ./static/img/perfil/perfil_450.png 700w, ./static/img/perfil/perfil_500.png 850w" src="./static/img/perfil/perfil_500.png" alt="foto-perfil-gitHub">
                    </div>
                    <!-- Temas -->
                    <div class="contentTitle">
                        {% block contentLeft %}{% endblock %}
                    </div>
                </div>
            </div>
            <!-- Direita -->
            <div class="right">
                <!-- Links Navegaveis -->
                <nav>
                    <div>
                        <a class="linkNav" {{nav[0]}}>{{nav[1]}}</a>
                    </div>
                    <div>
                        <a class="linkNav" {{nav[2]}}>{{nav[3]}}</a>
                    </div>
                    <div>
                        <a class="linkNav" {{nav[4]}}>{{nav[5]}}</a>
                    </div>
                </nav>
                <!-- Temas -->
                <div class="contentTitle">
                    {% block contentRight %}{% endblock %}
                </div>
            </div>
        <div class="logo">
            <div><img class="imgLogo" src="./static/img/logo.gif" alt="gif_logo"/></div>
        </div>
        </div>
    </body>
</html>