<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../static/style.css">
        <link rel="stylesheet" href="./../static/contato.css">
        <title>Sobre</title>
    </head>
    <body>
        <div class="content">
            <nav class="navMobile">
                <div>
                    <a class="linkNav" href="./trabalhos.html">Trabalhos</a>
                </div>
                <div>
                    <a class="linkNav">Contato</a>
                </div>
                <div>
                    <a class="linkNav" href="./index.html">Sobre mim</a>
                </div>
            </nav>
            <!-- Esquerda -->
            <div class="left">
                <div class="contentLeft">
                    <!-- Foto de Perfil -->
                    <div class="contentImgPerfil">
                        <img class="imgPerfil" src="https://avatars.githubusercontent.com/u/79608249?s=400&u=3e237ed7d08d35db7e29d6734361a3d3355cb25f&v=4" alt="foto-perfil-gitHub">
                    </div>
                    <!-- Temas -->
                    <div class="contentTitle">
                        <!-- Nome -->
                        <div>
                            <h1 class="theme">Nome Completo</h1>
                            <h2 class="descrition">Bruno Serpa Pereira Carvalho</h2>
                        </div>
                        <!-- Endereço -->
                        <div>
                            <h1 class="theme">Cidade Atual</h1>
                            <h2 class="descrition">São José dos Campos - SP</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Direita -->
            <div class="right">
                <!-- Links Navegaveis -->
                <nav>
                    <div>
                        <a class="linkNav" href="./trabalhos.html">Trabalhos</a>
                    </div>
                    <div>
                        <a class="linkNav" href="./index.html">Sobre mim</a>
                    </div>
                    <div>
                        <a class="linkNav">Contato</a>
                    </div>
                </nav>
                <!-- Temas -->
                <div class="contentTitle">
                    <!-- Email -->
                    <div>
                        <h1 class="theme">Email Profissional</h1>
                        <h2 class="descrition">brunospc2005@gmail.com</h2>
                    </div>
                    <!-- Telefone -->
                    <div>
                        <h1 class="theme">Telefone</h1>
                        <h2 class="descrition">+55 (12) 98899-5893</h2>
                    </div>
                    <!-- Redes Sociais -->
                    <div>
                        <h1 class="theme">Redes Sociais</h1>
                        <div class="containerRedes">
                            <a class="linkRedes" href="https://www.linkedin.com/in/brunoserpa" target="_blank">
                                <img class="logoRedes" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/linkedin_logo_icon_170234.png" alt="logo_linkedIn">
                            </a>
                            <a class="linkRedes" href="https://github.com/BrunoSerpa" target="_blank">
                                <img class="logoRedes" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="logo_gitHub">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo">
                <div><img class="imgLogo" src="./../static/img/logo.gif" alt="gif_logo"/></div>
            </div>
        </div>
    </body>
</html>