<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="index.css">
        <title>Sobre</title>
    </head>
    <body>
        <div class="content">
            <!-- Esquerda -->
            <div class="left">
                <!-- Foto de Perfil -->
                <div>
                    <img class="imgPerfil" src="https://avatars.githubusercontent.com/u/79608249?s=400&u=3e237ed7d08d35db7e29d6734361a3d3355cb25f&v=4" alt="foto-perfil-gitHub">
                </div>
                <!-- Temas -->
                <div class="contentTitle">
                    <!-- Ensino -->
                    <h1 class="tema"> Ensino</h1>

                    <div class="descTema">
                        <h1>Técnologo/Superior:</h1>
                        <h2>Desenvolvimento de Software Multiplataformas (2023 - Atual)</h2>
                        <h2>Fatec (Profº Jessen Vidal)</h2>
                        <h1>Técnico/Médio:</h1>
                        <h2>Desenvolvimento de Sistemas (2020 - 2022)</h2>
                        <h2>Etec (Profª Ilza Nascimento Pintus)</h2>
                    </div>
                </div>

                <div>
                </div>
            </div>
            <!-- Direita -->
            <div class="right">
                <!-- Links Navegaveis -->
                <nav>
                    <div>
                        <a class="linkNav" href="./trabalhos.html">Trabalhos</a>
                    </div>
                    <div>
                        <a class="linkNav">Sobre mim</a>
                    </div>
                    <div>
                        <a class="linkNav" href="./contatos.html">Contato</a>
                    </div>
                </nav>
                <!-- Temas -->
                <div class="contentTitle">
                    <!-- Características -->
                    <h1 class="tema"> Como sou</h1>
                    <div class="skills">
                        <div>
                            <div>
                                <h2>Característica 1</h2>
                            </div>

                            <div>
                                <h2>Característica 2</h2>
                            </div>
                            
                            <div>
                                <h2>Característica 3</h2>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h2>Característica 4</h2>
                            </div>
                            <div>
                                <h2>Característica 5</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Habilidades -->
                    <h1 class="tema"> Minhas Habilidades</h1>
                    <div class="skills">
                        <div>
                            <div>
                                <h2>Habilidade 1</h2>
                            </div>
                            <div>
                                <h2>Habilidade 2</h2>
                            </div>
                            <div>
                                <h2>Habilidade 3</h2>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h2>Habilidade 4</h2>
                            </div>
                            <div>
                                <h2>Habilidade 5</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>