<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../static/style.css">
        <link rel="stylesheet" href="./../static/trabalhos.css">
        <title>Sobre</title>
    </head>
    <body>
        <div class="content">
            <!-- Esquerda -->
            <div class="left">
                <!-- Foto de Perfil -->
                <div>
                    <img class="imgPerfil" src="https://avatars.githubusercontent.com/u/79608249?s=400&u=3e237ed7d08d35db7e29d6734361a3d3355cb25f&v=4" alt="foto-perfil-gitHub">
                </div>
                <!-- Temas -->
                <div class="contentTitle">
                    <!-- Profissões-->
                    <h1 class="tema">Profissões</h1>
                    <div class="descTema">
                        <!-- Profissão Atual -->
                        <h1>Aprendiz </h1>
                        <h1>(Dec, 2022 - atual)</h1>
                        <h2>Mecânica/Atendimento</h2>
                        <h2>Bicicletaria SOS ECO BIKE</h2>

                        <!-- Profissão Anteriores -->
                        <h1>Nenhuma profissão</h1>
                        <h1>([...] - Dec, 2022)</h1>
                        <h2>Nenhuma área</h2>
                        <h2>Bicicletaria SOS ECO BIKE</h2>
                    </div>
                </div>
            </div>
            <!-- Direita -->
            <div class="right">
                <!-- Links Navegaveis -->
                <nav>
                    <div>
                        <a class="linkNav">Trabalhos</a>
                    </div>
                    <div>
                        <a class="linkNav" href="./index.html">Sobre mim</a>
                    </div>
                    <div>
                        <a class="linkNav" href="./contatos.html">Contato</a>
                    </div>
                </nav>
                <!-- Conteúdo -->
                <div>
                </div>
            </div>
        </div>
    </body>
</html>