{% extends 'base.html' %}

{% block linkCss %}
<link rel="stylesheet" href="./static/css/trabalhos.css">
{% endblock %}

{% block contentLeft %}
<!-- Profissões-->
<h1 class="theme">Profissões</h1>

<div class="desc">
    {% for atributo in trabalhoJson %}
    <h1>{{atributo["title"]}}  <br/> ({{atributo["date"]}})</h1>
    <h2>{{atributo["area"]}}</h2>
    <h2>{{atributo["local"]}}</h2>
    {% endfor %}
</div>

<!-- Volutario-->
<h1 class="theme">Voluntariado</h1>
<div class="desc">
    {% for atributo in voluntariadoJson %}
    <h1>{{atributo["title"]}}  <br/> ({{atributo["date"]}})</h1>
    <h2>{{atributo["area"]}}</h2>
    <h2>{{atributo["local"]}}</h2>
    {% endfor %}
</div>
{% endblock %}

{% block contentRight %}
<h1 class="theme">Projetos</h1>
<div class="project">
    <div class="leftRigh"></div>
    <div class="center">
        {% for atributo in projetoJson %}
        <p class="titleProject"><a href="{{atributo['linkProject']}}" target="_blank">{{atributo['title']}}</a> ({{atributo['date']}})</p>
        <img src="{{atributo['linkImg']}}" alt="imagem_projeto_{{atributo['title']}}">
        <p class="tecnologyProject"><b>Tecnologias Utilizadas:</b> {{atributo['tecnology']}}</p>
        {% endfor %}
    </div>
    <div class="leftRigh"></div>
</div>
{% endblock %}