{% extends 'base.html' %}

{% block linkCss %}
<link rel="stylesheet" href="./static/trabalhos.css">
{% endblock %}

{% block contentLeft %}
<!-- Profissões-->
<h1 class="theme">Profissões</h1>

<div class="desc">
    <!-- Profissão Atual -->
    <h1>Aprendiz  <br/> (Dec, 2022 - atual)</h1>
    <h2>Mecânica/Atendimento</h2>
    <h2>Bicicletaria SOS ECO BIKE</h2>
</div>
<div class="desc">
    <!-- Profissão Anterior -->
    <h1>Nenhuma profissão <br/>([...] - Dec, 2022)</h1>
    <h2>Nenhuma área<br/>Nenhuma empresa</h2>
</div>
<!-- Volutario-->
<h1 class="theme">Voluntáriado</h1>
<div class="desc">
    <!-- Volutario Atual -->
    <h1>Multimidia <br/>(Jan, 2021 - Atual)</h1>
    <h2>Multimidia<br/>Igreja Evangélica Pentecostal Deus é Fiel</h2>
</div>

<div class="desc">
    <!-- Volutario Anterior -->
    <h1>Nenhum Voluntáriado <br/>([...] - Jan, 2021)</h1>
    <h2>Nenhuma área<br/>Nenhuma empresa</h2>
</div>
{% endblock %}

{% block contentRight %}
<h1 class="theme">Projetos</h1>
<div class="project">
    <div class="leftRigh"></div>
    <div class="center">
        <h1><a href="https://github.com/BrunoSerpa/Desafio02_DD">Renderizando</a> (30/04/2023)</h1>
        <img src="./static/img/projetos/Renderizando.gif" alt="imagem_projeto">
        <p><b>Tecnologias Utilizadas:</b> HTML5, CSS3</p>
    </div>
    <div class="leftRigh"></div>
</div>
{% endblock %}