.skills{
    background-color: var(--branco);
    border: var(--preto) solid 1px;
    border-radius: 20px 
}

.skills div{
    display: flex;
    padding: 10px 0
}

.skills div div{
    display: block;
    flex: 1;
    text-align: center
}

.skills h1{
    color: var(--cinza);
    font-weight: 500
}