/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    /* Font-Size */
    *,
    .textSkills,
    .linkNav:any-link{
        font-size: 15px
    }

    .theme,
    .desc h1,
    .titleProject,
    .titleProject > a{
        font-size: 20px
    }

    .linkNav,
    .linkNav:any-link:hover{
        font-size: 18px
    }

    /* Padding */
    .contentTitle{
        padding: 0 5px 5px 5px
    }

    .theme{
        padding-top: 30px
    }

    .descrition{
        padding-left: 15px
    }

    .desc h1{
        padding-left: 15px
    }

    .desc h2{
        padding-left: 30px
    }

    /* Logo */
    .logo{
        width: 12%
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* Font-Size */
    *,
    .textSkills,
    .linkNav:any-link{
        font-size: 17px
    }

    .theme,
    .desc h1,
    .titleProject,
    .titleProject > a{
        font-size: 22px
    }

    .linkNav,
    .linkNav:any-link:hover{
        font-size: 20px
    }

    /* Padding */
    .contentTitle{
        padding: 0 8px 8px 8px
    }

    .theme{
        padding-top: 22px
    }

    .descrition{
        padding-left: 15px
    }

    .desc h1{
        padding-left: 15px
    }

    .desc h2{
        padding-left: 30px
    }

    /* Logo */
    .logo{
        width: 10%
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    /* Font-Size */
    *,
    .textSkills,
    .linkNav:any-link{
        font-size: 19px
    }

    .theme,
    .desc h1,
    .titleProject,
    .titleProject > a{
        font-size: 24px
    }

    .linkNav,
    .linkNav:any-link:hover{
        font-size: 22px
    }

    /* Padding */
    .contentTitle{
        padding: 0 10px 10px 10px
    }

    .theme{
        padding-top: 22px
    }

    .descrition{
        padding-left: 15px
    }

    .desc h1{
        padding-left: 15px
    }

    .desc h2{
        padding-left: 30px
    }

    /* Logo */
    .logo{
        width: 8%
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    /* Font-Size */
    *,
    .textSkills {
        font-size: 20px
    }

    .theme,
    .desc h1,
    .titleProject,
    .titleProject > a,
    .linkNav{
        font-size: 25px
    }

    /* Padding */
    .contentTitle{
        padding: 0 15px 15px 15px
    }

    .theme{
        padding-top: 20px
    }

    .descrition{
        padding-left: 15px
    }

    .desc h1{
        padding-left: 10px
    }

    .desc h2{
        padding-left: 25px
    }

    /* Logo */
    .logo{
        width: 5%
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    *,
    .textSkills{
        font-size: 20px
    }

    .theme,
    .desc h1,
    .titleProject,
    .titleProject > a,
    .linkNav{
        font-size: 25px
    }

    /* Padding */
    .contentTitle{
        padding: 0 15px 15px 15px
    }

    .theme{
        padding-top: 20px
    }

    .descrition{
        padding-left: 15px
    }

    .desc h1{
        padding-left: 10px
    }

    .desc h2{
        padding-left: 25px
    }

    /* Logo */
    .logo{
        width: 5%
    }
}