.project{
    display: flex;
    text-align: center
}

.project a:any-link{
    color: var(--azul);
    text-decoration: none
}

.project a:hover{
    color: var(--cinza)
}

.leftRigh{
    flex:1
}

.center{
    flex:5
}

.project img{
    width: 80%;
    border-radius: 2%;
    border: var(--azul) solid 2px
}

.tecnologyProject{
    text-align: left;
    padding-bottom: 20px
}