.project{
    display: flex;
    text-align: center
}

.project a:any-link{
    color: rgb(25, 50, 193);
    text-decoration: none
}

.project a:hover{
    color: #6D747C
}

.leftRigh{
    flex:1
}

.center{
    flex:5
}

.project img{
    width: 100%;
    border-radius: 2%;
    border: #00395b solid 2px
}

.tecnologyProject{
    text-align: left;
    padding-bottom: 20px
}