/*Content base*/
body{
    background-color:  #AEF1E5;
    margin: auto;
}
.content{
    width: 100%;
}
/* Navbar */
nav{
    display: flex;
    text-align: center;
}
nav div{
    flex: 1;
}
/* StyleLinksNavbar */
.linkNav, .linkNav:any-link:hover{
    font-weight: 700;}
.linkNav:any-link{
    font-weight: 100;
    text-decoration: none;
}
/* ContentTitle*/
.contentTitle{
    padding: 0 15px 15px 15px;
}
/* Texts General*/
h1, h2, a{
    color:#000000;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
}
/* Theme */
.theme{
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}
/* DescType 1 */
.descrition{
    color: #6D747C;
    padding-left: 15px;
}
/* DescType 2 */
.desc h1{
    padding: 0 0 0 10px;
    font-size: 25px; 
}
.desc h2{
    padding: 0 0 0 25px;
    color: #6D747C; 
}

@media (max-width: 767px){
    .content{
        display:block;
    }
    /* Img Perfil */
    .contentImgPerfil{text-align: center;}
    .contentImgPerfil img{
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 50%;}
    /* Navbar */
    nav{
        padding: 30px 0;
        align-items: center;
    }
    /* StyleLinksNavbar */
    .linkNav, .linkNav:any-link:hover{
        font-size: 30px;
    }
    .linkNav:any-link{       
        font-size: 20px;
        color: #6D747C;
    }

    .right nav{display: none;}
}

@media (min-width: 768px){
    /*Content base*/
    .content{display:flex}
    /* Screen Partitions*/
    .left{
        flex: 2;
        border-width: 100%;
        border-bottom-right-radius: 30px;
        border-right: #81B3A9 solid 5px;
        border-bottom: #81B3A9 solid 5px;
    }
    .right{flex: 6}
    /* Img Perfil */
    .contentImgPerfil img{border-bottom-right-radius: 25px; width: 100%;}
    /* Navbar */
    nav{
        padding: 10px;
        border-bottom: #000000 solid 1px
    }
    /* StyleLinksNavbar */
    .linkNav, .linkNav:any-link:hover{
        text-decoration:underline;
    }
    .linkNav:any-link:hover{
        color: #6D747C;
    }
    .navMobile{display: none}
}
.logo{
    position:fixed;
    width: 5%;
    right: 10px;
    bottom: 10px;
}
.imgLogo{
    width: 100%;
    border-radius: 50%;
    opacity: 0.5;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){}

/* Media Query for Large screens */
@media (min-width: 1281px) {}