body{
    background-color:  #AEF1E5;
    margin: auto;
}
.content{
    display:flex;
    width: 100%;
}
.left{
    flex: 2;
    border-width: 100%;
    border-radius: 0 0 10% 0;
    border-right: #81B3A9 solid 5px;
    border-bottom: #81B3A9 solid 5px;
}
.right{
    flex: 6;
}
.imgPerfil{
    border-radius: 0% 0% 25% 0%;
    width: 100%;
}
nav{
    border-bottom: black solid 1px;
    display: flex;
    font: 20px sans-serif;
    padding: 10px;
    text-align: center;
}
nav div{
    flex: 1;
}
.linkNav{   
    color: black;
    font-weight: 700;
    text-decoration:underline;
}
.linkNav:any-link{
    font-weight: 100;
    text-decoration: none;
}
.linkNav:any-link:hover{
    color: #6D747C;
    font-weight: 700;
    text-decoration:underline;    
}

.contentTitle{
    padding: 0 15px 15px 15px;
}

.tema{
    color: black;
    font: 700 25px sans-serif;
    margin: auto;
    padding-top: 20px;
}

.descricao{
    color: #6D747C;
    font: 20px sans-serif;
    margin: auto;
    padding-left: 15px;
}

.descTema h1{
    margin: auto;
    padding: 0 0 0 10px;
    font-size: 25px;
    color: black; 
}
.descTema h2{
    margin: auto;
    padding: 0 0 0 25px;
    font-size: 20px;
    color: #6D747C; 
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){}

/* Media Query for Large screens */
@media (min-width: 1281px) {}