/*Content base*/
body{
    background-color:  #AEF1E5;
    margin: auto;
}
.content{
    display:flex;
    width: 100%;
}
/* Screen Partitions*/
.left{
    flex: 2;
    border-width: 100%;
    border-radius: 0 0 10% 0;
    border-right: #81B3A9 solid 5px;
    border-bottom: #81B3A9 solid 5px;
}
.right{
    flex: 6;
}
/* ContentWordNavbar */
.contentImgPerfil img{
    border-radius: 0% 0% 25% 0%;
    width: 100%;
}
/* Navbar */
nav{
    border-bottom: #000000 solid 1px;
    display: flex;
    padding: 10px;
    text-align: center;
}
nav div{
    flex: 1;
}
/* StyleLinksNavbar */
.linkNav, .linkNav:any-link:hover{
    font-weight: 700;
    text-decoration:underline;}  
.linkNav, .linkNav:any-link{   
    color: #000000;
}
.linkNav:any-link{
    font-weight: 100;
    text-decoration: none;
}
.linkNav:any-link:hover{
    color: #6D747C;
}
/* ContentTitle*/
.contentTitle{
    padding: 0 15px 15px 15px;
}
/* Texts General*/
h1, h2, a{
    color:#000000;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
}
/* Theme */
.theme{
    font-weight: 700;
    font-size: 25px;
    padding-top: 20px;
}
/* DescType 1 */
.descrition{
    color: #6D747C;
    padding-left: 15px;
}
/* DescType 2 */
.desc h1{
    padding: 0 0 0 10px;
    font-size: 25px; 
}
.desc h2{
    padding: 0 0 0 25px;
    color: #6D747C; 
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {} 

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){}

/* Media Query for Large screens */
@media (min-width: 1281px) {}