body{
    background-color:  #AEF1E5;
    margin: auto;
}
.content{
    display:flex;
    width: 100%;
}
.left{
    flex: 2;
}
.right{
    flex: 6;
}
.imgPerfil{
    border-radius: 0% 0% 25% 0%;
    width: 100%;
}
nav{
    border-bottom: black solid 1px;
    display: flex;
    font: 20px sans-serif;
    padding: 10px;
    text-align: center;
}
nav div{
    flex: 1;
}
.linkNav{   
    color: black;
    font-weight: 700;
    text-decoration:underline;
}
.linkNav:any-link{
    font-weight: 100;
    text-decoration: none;
}
.linkNav:any-link:hover{
    color: #6D747C;
    font-weight: 700;
    text-decoration:underline;    
}

.contentTitle{
    padding: 0 15px 0 15px;
}

.tema{
    margin: auto;
    font: 25px sans-serif;
    font-weight: 500;
}

.descricao{
    color: #6D747C;
    margin: auto;
    font: 20px sans-serif;
}

.descTema h1{
    margin: auto;
    padding: 0 0 0 10px;
    font-size: 25px;
    color: black; 
}
.descTema h2{
    margin: auto;
    padding: 0 0 0 25px;
    font-size: 20px;
    color: #6D747C; 
}